.About-input{
    display:flex;
    flex-direction: column;
    gap:5px;
    padding-bottom: 5px;
}

.About-input > input{
    width:15em;
}

.About-form-div > h1{
    font-size: 2em;
    font-weight: 500;
    padding:0;
    margin: 0;
    text-decoration: underline;
}